.card{
    border: 1px solid hsl(0, 0%, 76%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 54%);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.card .card-image{
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card .card-title{
    font-family: Arial, sans-serif;
    margin: 0;
}

.card .card-text{
    font-family: Arial, sans-serif;
    color: black;
}

.student{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 4%);
}

.student p{
    margin: 0;
}

.welcome-message{
    font-size: 2.5em;
    background-color: greenyellow;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.login-prompt{
    font-size: 2.5em;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.counter-container{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.count-display{
    font-size: 10em;
    margin-top: 0;
    margin-bottom: 20px;
}

.counter-button{
    width: 250px;
    height: 100px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}